<div style="font-size:16px;">
	Good news!<br/>
	Your account has been reviewed by an admin and is now active :)
	<br/><br/>
	You can login now and start exploring StarterPad:<br/>
	<%= link_to "#{root_url}", root_url, :target => "_blank" %>
</div>
<br/>
<br/>
<hr>
<div style="padding:5px;">
	StarterPad<br/>
	<%= link_to "#{root_url}", root_url, :target => "_blank" %>
</div>
<hr>
<div style="font-style:italic;">
	* You are receiving this email because you're a registered member of StarterPad.  If you'd like to opt-out of future emails, simply reply to it and let us know.  We're not spammers! *
</div>
<br/><br/>