<%= content_for :title do %>
  Moderator Rights
<% end %>
<div class="row">
  <div class="col-md-8 col-sm-8 col-xs-12">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <%= render 'groups/groups', :groups => @groups %>
          <%= paginate @groups, :previous_label => 'Previous', :next_label => 'Next', :inner_window => 2, :outer_window => 0 %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <%= render 'groups/index_right' %>
      </div>
    </div>
  </div>
</div>  


