<%
meta :title => "Badges",
     :description => "Learn about the various StarterPad badges, and what you need to do to earn each one.",
     :keywords => "badges, starterpad"
%>
<%
@content_title = 'Badges' 
%>
<%= content_for :title do %>
  Badges 
<% end %>
<div class="row">
  <meta name="robots" content="noindex" />
  <div class="col-md-12 col-sm-12 col-xs-12 badges" style="line-height:150%;">
    
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="btn btn-info">
          Commentator
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <p>Left 5 comments</p>
      </div>
    </div>

    <div style="clear:both"></div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="btn btn-info">
          Community creator
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        Has moderator rights in group with 20 users
      </div>
    </div>

    <div style="clear:both"></div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="btn btn-info">
          Cofounder
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        Is a cofounder in a Startup
      </div>
    </div>

    <div style="clear:both"></div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="btn btn-info">
          Announcer
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        5 posts made
      </div>
    </div>

    <div style="clear:both"></div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="btn btn-info">
          Connector
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        Has 15 connections
      </div>
    </div>

    <div style="clear:both"></div>
  </div>
</div>