<%
meta :title => "Privacy Policy",
     :description => "Privacy policy for StarterPad.  Find out what information of yours we collect and how we keep it secure while you're using our site.'",
     :keywords => "privacy policy, privacy, legal, starterpad"
%>
<meta name="robots" content="noindex" />
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 style="margin-bottom:20px;">StarterPad&reg; Privacy Policy</h1>
			StarterPad website is committed to protecting your privacy. We created this Privacy Policy in order to demonstrate that commitment and to ensure the confidence of visitors to our www.starterpad.com Web site (the "Site").
			<br/><br/>
			All information that you voluntarily submit to us will be electronically delivered to our web servers. BY USING THIS SITE YOU CONSENT TO THE TRANSFER OF THIS INFORMATION AND TO OUR USE OF SUCH DATA AS OUTLINED IN THIS POLICY.
			<br/><br/>
			TYPES OF INFORMATION COLLECTED
			<br/><br/>
			We collect two types of information:
			<ol>
				<li>
					Traffic Data. Our Site automatically recognizes the following non-personally identifiable information when you visit the Site: (i) IP address; (ii) domain server; (iii) type of computer; and (iv) type of web browser (collectively "Traffic Data"). Traffic Data is anonymous information that does not personally identify you, but is helpful for marketing purposes and for improving your experience on the Site. We use this information to examine our traffic in aggregate and to ensure the security of the data and our infrastructure.
				</li>
				<li>
					Personal Information Collected. In order for us to fully serve you and for you to fully access certain services that we offer via the Site, we require you to provide us with information that personally identifies you or your company ("Personal Information"). Personal Information may include: (i) Contact Data (such as your name, job title, occupation, phone number, company name, company address, mailing and e-mail addresses); (iii) Demographic Data (such as your zip code, age and income). If you communicate with us by e-mail, post messages to any of our chat groups, bulletin boards or forums, or otherwise complete online forms, surveys, any information provided in such communication may be collected as Personal Information. Our use of this Personal Information is set forth below. SUBMITTING PERSONAL INFORMATION IS YOUR CHOICE You may choose not to provide us with any Personal Information. In such an event, you can still access and use much of the Site; however you will not be able to access and use those portions of the Site that require your Personal Information.
				</li>
			</ol>
			<br/>
			USE OF PERSONAL INFORMATION COLLECTED
			<br/><br/>
			The Personal Information you enter on this Site is used to respond or contact you when necessary and to provide our visitors with a better Internet experience. When you register for a StarterPad Account, or attend certain online events, we collect certain Personal Information from you including your name, address, email address. From time to time, we aggregate Personal Information entered into our Site in order to identify our demographic audience (collective characteristics/ behavior) and to measure overall interest in specific areas of the Site. By aggregating the Personal Information into a form whereby we can no longer personally identify you, we are allowed to analyze how and where to best use our resources without impinging on your privacy. StarterPad may share such aggregated data with third parties and sales prospects, and we may use this information for promotional purposes. Except as otherwise provided in this Privacy Policy, we will keep your Personal Information private unless such disclosure is necessary to:
			<ol class="alpha">
				<li>
					Comply with the law, a court order or legal process;
				</li>
				<li>
					Protect our rights or property; or 
				</li>
				<li>
					Enforce our Terms and Conditions.
				</li>
			</ol>
			<br/>
			SECURITY OF PERSONAL INFORMATION
			<br/><br/>
			Your Personal Information is stored on secure web servers that are not accessible by third parties. However, while we take efforts to ensure the integrity and security of our network and systems, we cannot absolutely guarantee that our security measures will prevent third-party "hackers" or other malfeasants from illegally obtaining this information.
			<br/><br/>
			OTHER LIMITS TO YOUR PRIVACY
			<br/><br/>
			The Site contains links to other Web sites. We are not responsible for the privacy practices or the content of such Web sites. We also may make forums, message boards, questions, startups and news groups available to you. Please understand that any information that is disclosed in these areas becomes public information. We have no control over its use and you should exercise caution when deciding to disclose your Personal Information.
			<br/><br/>
			RIGHT TO CHANGE PRIVACY POLICY
			<br/><br/>
			We reserve the right, at any time and without notice, to add to, change, update or modify this Privacy Policy, simply by posting such change, update or modification on the Site. Any such change, update or modification will be effective immediately upon posting on the Site.
			<br/><br/>
			CONTACT FOR PRIVACY INQUIRIES
			<br/><br/>
			If you have any questions about this Privacy Policy please contact us us by email web<span style="display:none">no-spam</span>@<span style="display:none">no-spam</span>starterpad<span style="display:none">no-spam</span>.com.
		</div>
	</div>
</div>