<%
meta :title => "Terms and Conditions",
     :description => "Terms and conditions for StarterPad. Read what you're agreeing to by using our website.",
     :keywords => "terms, terms of use, terms of service, starterpad"
%>
<%
@content_title = 'Terms and Conditions' 
%>
<%#= content_for :title do %>

<%# end %>
<meta name="robots" content="noindex" />
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 style="margin-bottom:20px;">Terms and Conditions</h1>
			StarterPad provides its Website, www.starterpad.com (the "Website"), and its related services to you subject to the following notices, terms and conditions. Please read these Terms and Conditions carefully before using the Website. Your continuing access and/or use of this Website signifies acceptance to these Terms and Conditions. If at any time you do not wish to accept these Terms and Conditions, you may choose not to use the Website. Any additional terms and conditions proposed by you which are in addition to or which conflict with these terms and conditions of service are expressly rejected by StarterPad and shall be of no force or effect.
			<br/><br/>
			References to “StarterPad”, “we” and “us” are references to StarterPad Website. References to “you” are to the person accessing, downloading or using the Website, or the company or organization on whose behalf such person accesses, downloads or uses the Website.
			<br/><br/>
			MODIFICATIONS AND UPDATE
			<br/><br/>
			Changes are periodically made to the information herein. StarterPad may make changes to the services or products available on this website (at any time) at its sole discretion. The most current version of these terms can be reviewed by clicking on the "Terms and Conditions" link located at the bottom of our website pages. These notices, terms, and conditions are subject to change in the sole and absolute discretion of StarterPad. All updates, enhancements, new features and or the addition of additional web properties (in the form of additional web pages or websites) are immediately subject to these terms and conditions. Your continued use of the StarterPad website constitutes your continued acceptance to all such notices, terms and conditions as modified.
			<br/><br/>
			LIMITATIONS ON USE
			<br/><br/>
			You must be at least 13 years old to download and use the Website, or, if you are not at least 13, you may use the Website only in conjunction with, and under the supervision of, your parent or guardian. If you do not qualify, please do not download or use the Website.
			<br/><br/>
			YOUR CONDUCT
			<br/><br/>
			By downloading and using the Website, you agree not to upload, post, e-mail or otherwise send or transmit any material that contains viruses, Trojan horses, worms or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment associated with the Website;
			<br/><br/>
			You also agree not to interfere with the servers or networks connected to the Website or to violate any of the procedures, policies or regulations of networks connected to the Website, including these Terms and Conditions. You also agree not to:
			<ul>
				<li>
					conduct or promote any illegal activities while using the Website or use the Website for any unlawful purpose;
				</li>
				<li>
					upload, distribute or print anything that may be harmful to minors;
				</li>
				<li>
					attempt to reverse engineer or sell, export, license, modify, copy, distribute or transmit the Website to any third party, or jeopardize the correct functioning of the Website, or otherwise attempt to derive the source code of the software (including the tools, methods, processes and infrastructure) that enables or underlies the Website;
				</li>
				<li>
					attempt to gain access to secured portions of the Website to which you do not possess access rights;impersonate any other person while using the Website;
					conduct yourself in a vulgar, offensive, harassing or objectionable manner while using the Website;
				</li>
				<li>
					resell or export the software associated with the Website;
				</li>
				<li>
					use the Website to generate unsolicited advertisements or spam; or use any automatic or manual process to search or harvest information from the Website, or to interfere in any way with the proper functioning of the Website.
					attempt to gain access to secured portions of the Website to which You do not possess access rights;
				</li>
				<li>
					use the website for any purpose other than a legitimate business purpose; or Impersonate another user.
				</li>
			</ul>
			If you choose to provide us with information for whatever reason, you agree to provide only accurate, complete information and you agree to keep that information up-to-date if it changes.
			<br/><br/>
			INTELLECTUAL PROPERTY
			<br/><br/>
			StarterPad and/or its licensor(s) are the sole owners of the Website, which includes any software, domains, and content made available through them. The Website are protected by Lithuanian and International copyright and other intellectual property laws.
			<br/><br/>
			We permit you to use the Website for your own personal use only and StarterPad grants you a limited license solely for that purpose.
			<br/><br/>
			Without limitation, this means that you may not sell, export, license, modify, copy, reverse engineer, distribute or transmit the Website (or any part of it) without StarterPad’s prior express written consent.
			<br/><br/>
			Any unauthorized use of the Website will result in the automatic termination of the limited license granted by us. StarterPad reserve the right to terminate the limited license without notice at any time following an unauthorized use by you of the Website.
			<br/><br/>
			StarterPad and its graphics, logos, icons and service names related to the Website are registered and unregistered trademarks or trade dress of StarterPad website. They may not be used without StarterPad's prior express written permission.
			<br/><br/>
			All other trademarks not owned by StarterPad that appear in connection with the Website are the property of their respective owners, who may or may not be affiliated with, connected to or sponsored by StarterPad.
			<br/><br/>
			PRIVACY
			<br/><br/>
			You provide us with information when you register on the Website. We also collect information both relating to you (for example on your usage history and your preferences for certain kinds of offer) and to users of the Website in general. Any information that you submit or that we collect when you are using the Website is subject to the StarterPad Privacy Policy, the terms of which are hereby incorporated into these Terms and Conditions.
			<br/><br/>
			NO WARRANTY & LIABILITY LIMIT
			<br/><br/>
			StarterPad provides the Website "as is" and without any warranty or condition, whether express, implied or statutory. StarterPad specifically disclaims any implied warranties of title, merchantability, fitness for a particular purpose and non-infringement. StarterPad assumes no liability or responsibility for any errors or omissions in the Website or offers or promotions made available to you or on your behalf through the Website; any failures, delays or interruptions in the Website; any losses or damages arising from the use of the Website, including, without limitation, any damage to your mobile device; or any conduct by users of the Website. We reserve the right to deliver the Website in our sole and absolute discretion.
			<br/><br/>
			In no event shall StarterPad, its owners or agents be liable (jointly or severally) to you for loss of use or any special, incidental, indirect or consequential damages arising out of or in connection with the Website or these Terms and Conditions, on any theory of liability, and whether or not advised of the possibility of damage. StarterPad does not seek to exclude liability for death or personal injury caused by our negligence, or fraud or fraudulent misrepresentation on the part of StarterPad. If any applicable authority holds any portion of this section to be unenforceable, then liability will be limited to the fullest possible extent permitted by applicable law.
			<br/><br/>
			From time to time you may use or access services, promotions and websites of third parties. In using or accessing third party services, promotions and websites, you agree to be bound by the terms and conditions of such third parties governing their services, promotions and websites and hereby acknowledge that we shall not be responsible for the provision of services, accuracy of promotions or content of websites belonging or operated by third parties.
			<br/><br/>
			USE OF INFORMATION SUBMITTED
			<br/><br/>
			You agree that StarterPad is free to use any comments, information or ideas contained in any communication you may send to StarterPad without compensation, acknowledgement or payment to you for any purpose whatsoever, including, but not limited to, developing, manufacturing and marketing products and services and creating, modifying or improving the Website or other products or services. For the avoidance of doubt, all such information will be deemed by StarterPad to be non-confidential and non-proprietary, and you agree that such information may be used by us without any limitation whatsoever.
			<br/><br/>
			INDEMNITY
			<br/><br/>
			You agree to indemnify and hold StarterPad and its related companies, and each of their respective owners harmless from and against any third-party claim or cause of action, including reasonable attorneys' fees and court costs, arising, directly or indirectly, out of your use of the Website or your violation of any law or the rights of any third party.
			<br/><br/>
			TERMINATION
			<br/><br/>
			StarterPad may change or discontinue the Website at any time without prior notice. We reserve the right to terminate these Terms and Conditions for any reason, without notice, and these Terms and Conditions shall automatically terminate in the event that you violate any of the terms and conditions set forth herein (with prejudice to our accumulated rights against you). In the event of any termination, you will immediately cease access to the Website.
			<br/><br/>
			DISPUTES
			<br/><br/>
			You agree that these Terms and Conditions and any claim, dispute or controversy arising out of in connection with these Terms and Conditions or their subject matter or formation (including non-contractual disputes or claims), the Website, StarterPad’s advertising or any related transaction between you and StarterPad shall be governed by and construed in accordance with Lithuanian law.
			<br/><br/>
			Any dispute or claim arising out of or in connection with such matters (including non-contractual disputes or claims) will be subject to the exclusive jurisdiction of the courts of Lithuania.
			<br/><br/>
			GENERAL
			<br/><br/>
			These Terms and Conditions are agreed between you and us. No other person shall have any rights under or connection with these Terms and Conditions.
			<br/><br/>
			If any court or competent authority decides that any term of these Terms and Conditions is held to be invalid, unlawful or unenforceable to any extent, such term shall, to that extent only, be severed from the remaining terms, which shall continue to be valid to the fullest extent permitted by law.
			<br/><br/>
			Headings are for reference purposes only and in no way define, limit, construe or describe the extent or scope of such section.
			<br/><br/>
			Our failure to enforce any provision of these Terms and Conditions shall not constitute a waiver of that or any other provision and will not relieve you from the obligation to comply with such provision.
			<br/><br/>
			You are not permitted to assign, transfer, charge, sub-contract or deal in any other manner with all or any of your rights under these Terms and Conditions without our prior express written consent.  
			<br/><br/>
			These Terms and Conditions set forth the entire understanding and agreement between you and StarterPad with respect to the subject matter hereof.
			<br/><br/>
			CONTACT US
			<br/><br/>
			If you have any questions about these Terms and Conditions, please contact us by email web<span style="display:none">no-spam</span>@<span style="display:none">no-spam</span>starterpad<span style="display:none">no-spam</span>.com.
		</div>
	</div>
</div>