<% 
title = 'Discuss'
description = 'Entrepreneurs discussing everything related to startups. We talk about growth hacking, finance, management, technology, and even travel. Sign up for free and join the conversation!'
keywords = ['discuss','conversations','startups','entrepreneurs','starterpad']
%>

<%
if @page == 'top'
  title += ' - Trending Items'
  description = 'Trending discussions related to startups. We talk about growth hacking, finance, management, technology, and even travel. Sign up for free and join the conversation!'
  keywords.push('trending')
else @page == 'new'
  title += ' - Newest Items'
  description = 'Newest discussions related to startups. We talk about growth hacking, finance, management, technology, and even travel. Sign up for free and join the conversation!'
  keywords.push('newest')
end
%>
<%
   meta :title => title,
        :description => "#{description}",
        :keywords => "#{keywords.join(', ')}"
%>

<% content_for :title do %>
  <%= title %>
<% end %>

<%= render 'items/nav' %>

<div class="row" id="discuuss">
  <div class="col-md-8 col-sm-8 col-xs-12">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div>
          <ul class="media-list">
            <%= render @items %>
          </ul>                   
        </div>
        <div style="clear:both"></div>
        <%= paginate @items, :previous_label => 'previous', :next_label => 'next', :inner_window => 2, :outer_window => 0 %>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">       
      </div>
    </div>
  </div>
</div>



